.hero {
  padding-top: 200px ;
  padding-bottom: 200px;
  background-color: var(--title-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_images/hero/desktop/header-background-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
    @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_images/hero/desktop/header-background-desktop.jpg);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_images/hero/desktop/header-background-desktop@2x.jpg);
      }
  }

    @media screen and (max-width: 767px) {
      width: 100%;
      padding-top: 118px;
      padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_images/hero/mobile/header-background-mobile.jpg);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_images/hero/mobile/header-background-mobile@2x.jpg);
      }
  }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 100%;
      padding-top: 118px;
      padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_images/hero/tablet/header-background-tablet.jpg);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_images/hero/tablet/header-background-tablet@2x.jpg);
      }
  }

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  width: 696px;
  height: 120px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin: 0 auto 30px;
      @media screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 1.62;
      height: 100%;
      width: auto;
      margin-bottom: 30px;
    }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 26px;
      line-height: 1.62;
      height: 100%;
      width: 360px;
      margin-bottom: 30px;
    }
}}