
.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
    @media screen and (max-width: 767px) {
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-top: -15px;
	}

	@media screen and (min-width: 768px) {
		margin-bottom: 30px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 50px;
	}
}

.navigation__item{
  margin-right: 8px;
    &:last-child{
    margin-right: 0;
    }
    @media screen and (max-width: 767px) {
		margin-top: 15px;
	}
}