.section--other-background {
  background-color: #f5f4fa;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1199px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {

	margin-right: auto;
	margin-left: auto;
}

.section__title--team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--secondary-title-color);
  @media screen and (max-width: 1199px){
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}

.team__list {
  padding: 0;
  margin: 0;
    @media screen and (min-width: 768px) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: -15px;
    }
    /*@media screen and (max-width: 767px) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }*/
}

.team__img {
  max-width: 100%;
  display: block;
  height: auto;
}

.team__item {
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  


	@media screen and (max-width: 767px) {
    margin-bottom: 30px;
    margin-top: 0;
    &:last-child {
      margin-bottom: 0;
    }
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 15px;

	}
	@media screen and (min-width: 1200px) {
		width: auto;
		height: auto;
    margin: 15px;
	}
}

.team__box{
  text-align: center;
  padding: 30px 32px 30px 32px;
    @media screen and (max-width:767px){
    padding-bottom: 16px;
  }
    @media screen and (min-width:768px){
    padding-bottom: 16px;
  }
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--team-name-color);
}

.team__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--team-text-color);
  margin-bottom: 16px;
}

.social{
  display: flex;
  justify-content: center;
}

.social__item{
  width: 44px;
  height: 44px;
  margin-right: 10px;
    &:last-child{
    margin-right: 0;
    }
}

.social__link{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
    &:hover,
    &:focus{
    background-color: var(--accent-color);
    }
    &:hover .social__icon,
    &:focus .social__icon{
    fill: var(--button-text-color);
  }
}

.social__icon{
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}