:root {
  --header-menu-color: #212121;
  --header-contacts-color: #757575;
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --article-color: #757575;
  --button-text-color: #ffffff;
  --team-name-color: #212121;
  --team-text-color: #757575;
  --footer-adress-color: #ffffff;
  --portfolio-examples-title-color: #212121;
  --portfolio-examples-text-color: #757575;
  --accent-color: #2196f3;
  --title-background-color:#2f303a;
  --footer-contacts-color:rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}